server:
  port: 8080
spring:
  application:
    name: "TechnicalTest"
  devtools:
    add-properties: false
  h2:
    console:
      enabled: true
      path: "/h2"
  profiles:
    include: null
management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  endpoint:
    health:
      probes:
        enabled: true
cors:
  allowed-origins: "http://localhost:4200,http://localhost:8080"

adapters:
  r2dbc:
    host: "${DB_HOST}"
    port: "${DB_PORT}"
    database: "${DB_DATABASE}"
    schema: "${DB_SCHEMA}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
